#area{
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginArea{
    background-color: white;
    border-radius: 8px;
    border: 1px solid var(--border);
    width: 800px;
    min-height: 450px;
    margin: 5rem 1rem;
    display: flex;
    justify-content: center;
}

#innerLogin{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5% 0;
}

.title p:nth-child(1){
    font-size: 32px;
    color: var(--green);
    font-weight: bold;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input div{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#infosUser{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--blue);
}

#remember{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

#createAccount button{
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: var(--blue);
    cursor: pointer;
}

@media(max-width:1024px){
    #infosUser{
        justify-content: center;
        gap: 10px;
    }
}