#lpHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: absolute;
}

#innerLpHeader{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

#innerLpHeader div{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.button{
    border-radius: 10px;
    background-color: var(--green);
    border: none;
    padding: 10px 30px;
    color: white;
}

.outlineButton{
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--green);
}

#lpBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url(../../assets/images/background-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#lpBanner div{
    width: 80%;
}

#lpBanner div p {
    width: 40%;
    line-height: 120%;
}

.divisor{
    background-image: url(../../assets/images/divisor.svg);
    height: 50px;
    width: 80%;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}

#sectionTech{
    display: flex;
    justify-content: center;
    align-items: center;
}

#innerSectionTech{
    display: flex;
}