.productItem {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productItem>img {
    width: 150px;
    height: 150px;
}

.infosProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.infosProduct button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: var(--green);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}

.infosProduct img {
    width: 25px;
    height: 25px;
}

.productName {
    text-align: center;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width:1024px) {
    .productItem {
        min-width: 150px;
        max-width: 150px;
    }
    
    .productItem>img {
        width: 100px;
        height: 100px;
    }
    
    .productItem p {
        font-size: 1rem;
    }
}