.productItem {
   width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
}

.productItem>img {
    width: 150px;
    height: 150px;
}

.infosProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.infosProduct img {
    width: 25px;
    height: 25px;
}

.productName {
    text-align: center;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width:1024px) {
    .productItem {
        width: 200px;
    }
    
    .productItem>img {
        width: 100px;
        height: 100px;
    }
    
    .productItem p {
        font-size: 1rem;
    }
}