#promoBanner {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
}

#promoBanner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sectionItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#carrousselProducts {
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0 0 0;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

#carrousselProducts::-webkit-scrollbar {
    display: none;
}

#carrousselProducts>* {
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.itemType {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 125px;
    align-items: center;
    justify-content: center;
}

.itemType div {
    background-color: white;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemType img {
    width: 45px;
    height: 45px;
}

@media (max-width: 1024px) {
    #carrousselProducts {
        justify-content: flex-start;
        padding: 1rem;
    }

    .itemType div {
        width: 50px;
        height: 50px;
    }

    .itemType img {
        width: 30px;
        height: 30px;
    }

    .itemType p {
        font-size: 12px;
    }

    #sectionItems {
        gap: 1rem;
    }
    
}

@media (max-width: 600px) {
    
    
    #promoBanner {
        display: none;
    }
}
