.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    margin: 0 auto;
    width: 95%;
}

.profile{
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 1rem 2rem;
    display: flex;
}

.userDetails{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.photo{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo svg{
    height: 90%;
    width: 90%;
}

.edit{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.edit svg{
    padding: 0.5rem;
    border: 2px solid var(--green);
    border-radius: 5px;
    width: 2.5rem;
    height: 2.5rem;
}

.edit span {
    font-size: 1.2rem;
}


.orders{
    display: flex;
    flex-direction: column;
    max-height: 30rem;
    overflow: auto;
}

.item{
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.productInfo{
    display: flex;
    align-items: center; 
    gap: 1rem;
}

.productInfo p{
    font-size: 1.2rem;
}

.productInfo img{
    width: 150px;
    height: 150px;
}

.productInfo button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}

.status{
    background-color: white;

}