.shopSection{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}

.title {
    display: flex;
    padding: 20px 0 0px 0;
    width: 100%;
    justify-content: space-between;
}

.filter button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
}


.priceFilter{
    width: 20%;
    background-color: white;
    border: 1px solid var(--input-text-color);
    height: max-content;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titleFilter{
    width: 100%;
}

.priceRange{
    width: 100%;
}

.priceRange input {
    width: 100%;
}

.priceValues{
    display: flex;
    justify-content: space-between;
}

.priceInputs{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.priceInputs input {
    border-radius: 5px;
    border:1px solid var(--input-text-color);
    width: 50px;
    text-align: center;
}

.searchArea{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.searchResults{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 1rem;
}

@media(max-width:1024px){
    .searchResults{
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
}